@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root {
  --grey: #ececec;
  --light-green: #8ec232;
  --darker-green: #167a33;
  --dark-grey: #666;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'ABeeZee', sans-serif;
}

body {
  background-color: var(--grey);
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 100ms;
}

a:hover {
  color: var(--light-green);
}

.active {
  color: var(--light-green);
}

button {
  background: none;
  background-color: var(--light-green);
  border-radius: 5px;
  border: none;
  padding: 0.3rem 0.6rem;
  color: var(--grey);
  cursor: pointer;
  transition: 200ms;
}

button:hover {
  background-color: #b1dd65;
  transform: scale(1.08);
}

.open {
  background-color: var(--light-green);
  color: var(--grey);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.closed {
  background-color: rgb(133, 38, 38);
  color: var(--grey);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

/* MAIN COMPONENT */
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */
.header {
  width: 100vw;
  height: 7rem;
  margin-bottom: 5rem;
  border-bottom: 3px solid var(--light-green);
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.header-content {
  display: flex;
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
  color: var(--main-bg);
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  margin-right: 1.5rem;
}

.links-container {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0.25rem;
}

.links li {
  margin-left: 1.3rem;
}

/* MAIN PAGE */
.four-square {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 30px;
}

.four-square div {
  background-color: var(--light-green);
  height: 400px;
  width: 475px;
  margin: 0 auto;
  transition: 200ms;
}

.four-square div:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.four-square div h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.icon {
  margin-bottom: 2rem;
}

.icon path {
  stroke: var(--grey);
}

.nav-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--grey);
  border-radius: 5px;
}

/* JAM CARDS */
.jam-cards-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.jam-card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--light-green);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.jam-card-info {
  background-color: var(--light-green);
  color: var(--grey);
  padding: 0.7rem 1rem;
}

.jam-card-join {
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.jam-card-join p {
  text-transform: uppercase;
  margin-left: 0.2rem;
  color: var(--dark-grey);
  font-size: 0.9rem;
}

.jam-card-title {
  margin-bottom: 0.4rem;
}

.dates {
  display: flex;
  flex-direction: column;
}

/* USER FORM */
.user-form {
  margin: 2rem auto;
}

.form-flex {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.form-flex input,
.form-flex textarea {
  margin-bottom: 1rem;
}

.text-input {
  padding: 0.2rem 0.4rem;
}

.submit-input {
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

/* FOOTER */
footer {
  width: 100vw;
  background-color: var(--light-green);
  margin-top: 3rem;
}

footer a:hover {
  color: #167a33;
}

.footer-container {
  padding: 4rem 0;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: bottom;
  color: var(--grey);
}

.footer-container ul {
  margin-right: 3rem;
}

.footer-container li {
  margin-bottom: 1rem;
}

/* DASHBOARD */
.dashboard-section {
  border-radius: 5px;
  border: 2px solid var(--light-green);
  padding: 1rem 2rem;
  margin: 1rem auto;
}

.dashboard-section h2 {
  margin-bottom: 0.5rem;
}

.dashboard-section hr {
  margin-bottom: 0.5rem;
}

.dashboard-section li {
  margin-bottom: 0.3rem;
}

/* JAM PAGE */
.jam-page {
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  width: 40vw;
}

.jam-page h1 {
  margin-bottom: 0.5rem;
}

.join-btn {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.5rem 6rem;
}

@media only screen and (max-width: 1600px) {
  .four-square div {
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 1200px) {
  .four-square div {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 860px) {
  .four-square div {
    height: 300px;
    width: 200px;
  }
}

@media only screen and (max-width: 860px) {
  .four-square {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
  .four-square div {
    height: 300px;
    width: 300px;
  }
}
